.navmenu {
	background-color: rgb(241, 239, 241);
	min-height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;
}
.navheader {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 150px;
	min-height: 80px;
}
