* {
	margin: 0;
	padding: 0;
}
body {
	background-color: aliceblue;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	user-select: none;
}

h1 {
	font-size: 50px;
	margin-top: 40px;
}

a {
	text-decoration: none;
}
